
<footer class="text-center py-3 mt-3" style=" border-top: solid 1px lightgray; background-color:rgb(220, 193, 177);">
  <div class="container-fluid padding">
    <div class="row text-center padding">
      <div class="col-12">
        <h2>Conecta con Nosotros</h2>
      </div> 
    </div>  
  </div>   
  <div class="container">
      <div class="row">
        <p class="col-12">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/1024px-Instagram_icon.png" width="30" height="30" viewBox="0 0 24 24">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b8/2021_Facebook_icon.svg/2048px-2021_Facebook_icon.svg.png" width="30" height="30" viewBox="0 0 24 24">
        <img src="https://seeklogo.com/images/T/twitter-icon-square-logo-108D17D373-seeklogo.com.png" width="30" height="30" viewBox="0 0 24 24">
        <p class="col-12">© 2023 Derechos reservados a la pagina.<b> Delicious.com</b></p>
      </div>
    </div>
</footer>    
    
