<div class="container-fluid padding">
<div class="row welcome text-center">
    <div class="col-12">
        <h1 class="display-4"><br> Bienvenidos al Recetario</h1>
    </div>
    <hr>
    <div class="col-12">
        <p class="lead"><br>Bienvenidos al mejor Recetario que encontraran en todo el intenet.
            En esta página encontrarán las mejores recetas alrededor del mundo, y lo mejor de todo es que pueden acceder a cada una de ellas, desde la comodidad de su hogar.</p>
    </div>
    <div class="col-12">
        <img src="https://img.freepik.com/premium-vector/gourmet-food-vector-emblem-logo-design_530862-259.jpg?w=2000" width="500" height="500">
    </div>
</div>    
</div>