<nav class="navbar navbar-expand-lg" style="background-color: #cdbeb6;">
  <div class="container-fluid">
      <a href="#" class="navbar-brand"><b><FONT COLOR="black">Delicious.com</FONT></b></a>
      <button type="button" class="navbar-toggler bg-light" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
      </button>
      <a href="#" class="nav-item nav-link active"><FONT COLOR="gray">Inicio</FONT></a>
      <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" style="color: gray;">Recetas</a>
        <div class="dropdown-menu">
            <a href="#" class="dropdown-item">Todas las Recetas</a>
            <a href="#" class="dropdown-item">Recetas por categoria</a>
            <a href="#" class="dropdown-item">Mas</a>
        </div>
    </div>
      <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
          <div class="navbar-nav">
              <a href="#" class="nav-item nav-link"><FONT COLOR="gray">Videos</FONT></a>
              <a href="#" class="nav-item nav-link"><FONT COLOR="gray">Nosotros</FONT></a>
          </div>
          <form class="d-flex">
              <div class="input-group">                    
                  <input type="text" class="form-control" placeholder="Buscar">
                  <button class="btn btn-outline-dark" type="submit">Buscar</button>
              </div>
          </form>
          <div class="navbar-nav">
              <a href="#" class="nav-item nav-link"><FONT COLOR="gray">Inicio Sesion</FONT></a>
          </div>
      </div>
  </div>
</nav>